@import 'tailwindcss';

@theme {
  --color-foreground: #3D3C42;
  --color-background: #FEFBF6;
  --color-danger: #EB5A3C;
  --color-accent: #3182CE;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}